# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# PyInstaller
build/
dist/
*.spec

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/

# Cache
*.cache
*.txt
# Opcjonalnie (jeśli DepotDownloader duży)
#Dependencies/
MacOsX64-App
